<%- include('partials/header.ejs') %>


<body>
  <%- include('partials/navbar.ejs') %>
    <h2>Post Editor</h2>
    <section class="container">
    <form class="blog" action="/submit" method="POST">
        <label for="title-post">Title</label>
        <input name="title-post" type="text" class="title-post" required/>

        <label for="text-area">Blog post</label>
        <textarea name="text-area" class="text-input" required></textarea>
        <input class="hover-style" type="submit" value="POST" onclick="return confirm('Are you sure want to post?')" />
      </form>
</section>
</body>

<%- include('partials/footer.ejs') %>